{% extends 'base.html' %}
{% load static %}
{% load get_filter %}
{% block content %}
<div class="weather-container">
    <h2>Previsão Meteorológica para os Próximos 5 Dias</h2>
    <form method="get" class="city-selector">
        <label for="city">Escolha a cidade:</label>
        <select name="city" id="city">
            {% for city in cities %}
            <option value="{{ city.local }}" {% if city.local == selected_city %}selected{% endif %}>{{ city.local }}</option>
            {% endfor %}
        </select>
        <button type="submit">Ver Previsão</button>
    </form>

    {% if selected_city %}
    <h3>Previsão para {{ selected_city }}</h3>
    <div class="forecast-grid">
        {% for forecast in forecast_data %}
        <div class="forecast-item">
            <p><strong>Data:</strong> {{ forecast.forecastDate }}</p>
            <p><strong>Temperatura Mínima:</strong> {{ forecast.tMin }}°C</p>
            <p><strong>Temperatura Máxima:</strong> {{ forecast.tMax }}°C</p>
            <p><strong>Descrição do Tempo:</strong> {{ weather_types|get_item:forecast.idWeatherType }}</p>
            <a href="{% static 'meteo/' %}w_ic_d_{{ forecast.idWeatherType|stringformat:'02d' }}.svg">
                <img src="{% static 'meteo/' %}w_ic_d_{{ forecast.idWeatherType|stringformat:'02d' }}.svg" width="50" alt="Weather Icon">
            </a>
        </div>
        {% endfor %}
    </div>
    {% endif %}
</div>
{% endblock %}